@use "../ui-forms/ui-forms.scss";
@use "../../../scss/variables";
@use "../../../blocks/findroom-card/findroom-card.scss";
@use "../../../blocks/account-registration/account-registration.scss";
@use "../../../blocks/login-card/login-card.scss";
@use "../../../blocks/booking-room-card/booking-room-card.scss";
@use "../../../blocks/room-card/room-card.scss";
@use "../../../blocks/room-card/splide.min.css";

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}