doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="../../../blocks/textfield/textfield--masked/jquery.inputmask.js")
    script(src="../../../blocks/textfield/textfield--masked/textfield--masked.js")
    script(type="module" src="../ui-forms/ui-kit.js")
    link(href="ui-cards.css" rel="stylesheet")
  body
    include ../ui-forms/ui-kit-inc.pug
    .main
      +findroom-card('findroom-card','Найдём номера под ваши пожелания')
      +account-registration('account-registration','Регистрация аккаунта')
      +login-card('login-card','Войти')