doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		script(src="https://code.jquery.com/jquery-3.6.0.min.js")
		script(type="module" src="ui-kit.js")
		link(href="ui-forms.css" rel="stylesheet")
	body
		include ui-kit-inc.pug
		.main
			+textlabel('textfield','Text field','Email')
			+quantity-dropdown('Взрослые','Дети','Младенцы','guest-dropdown','0')
			+textlabel('textfield textfield--masked','Text field','Email')
			+quantity-dropdown('Спальни','Кровати','Ванные комнаты','rooms','1')
			+textlabel('textfield textfield--date-dropdown','Dropdown','ДД.ММ.ГГГГ')(readonly)
			+textlabel('textfield textfield--filter-date-dropdown','Dropdown','')(readonly,data-multiple-dates-separator=" - ",data-range="true")
			+expandable-chckbox-list('expandable-chckbox-list','Expandable CheckBox List',['Завтрак','Письменный стол','Столик для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])
			+textlabel('textfield textfield--subscription','Text field','Email')
			+expandable-chckbox-list('expandable-chckbox-list expandable-chckbox-list--checkbox-buttons','CheckBox Buttons',['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)'])(open)
			+expandable-chckbox-list('expandable-chckbox-list expandable-chckbox-list--rich-checkbox-buttons','Rich CheckBox Buttons',{'Широкий коридор':'Ширина коридоров в номере не менее 91см','Помощник для инвалидов':'На 1 этаже вас встретит специалист  и проводит до номера.'})(open)
			+radio-buttons('radio-buttons','Radio buttons','Мужчины','Женщины')
			+expandable-chckbox-list('expandable-chckbox-list expandable-chckbox-list--checkbox-buttons expandable-chckbox-list--toogle','Toogle',['Получать спецпредложения','Получать спецпредложения'])(open)
			+like-button('like-button','2')
			+rate-button('rate-button','3')
			+range-slider('range-slider','range slider')
			+button('button','Click me')
			+button('button button-without-fill','Click me')