doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		script(src="https://code.jquery.com/jquery-3.6.0.min.js")
		script(type="module" src="ui-kit.js")
		link(href="ui-forms.css" rel="stylesheet")
	body
		include ui-kit-inc.pug
		.main-
			+textlabel('textfield','Text field','Email')
			+quantity-dropdown('Взрослые','Дети','Младенцы','guest-dropdown','0')
			+textlabel('textfield textfield--masked','Text field','Email')
			+quantity-dropdown('Спальни','Кровати','Ванные комнаты','rooms','1')