mixin button(options)
  - options = options || {};
  - options.className = options.className || 'button' ;
  - options.title = options.title || 'Click me';
  - var classNameDivided=options.className.split(' ');
    div(class=options.className)
      button(class=classNameDivided.map((item)=>`${item}__button`).join(' '))=options.title 