mixin button(options)
  - var classNameDivided=options.className.split(' ');
    div(class=options.className)
      button(class=classNameDivided.map((item)=>`${item}__button`).join(' '))=options.title