.expandable-chckbox-list--checkbox-buttons{
  height: auto;
}
.expandable-chckbox-list--checkbox-buttons__title{
  pointer-events: none;
}

.expandable-chckbox-list--checkbox-buttons__title::after{
  visibility: hidden;

}


.expandable-chckbox-list--checkbox-buttons__label{
  max-width: 190px;
  hyphens: auto;
}
