.button-hypertext__button {
  background: transparent;
  color: $color-purple;
  width: auto;
  height: 15px;
  border-radius: 0px;
  padding: 0px;

  &:active {
    background: transparent;
    color: $color-ds50;
  }
}
