// .pagination__data {
//   visibility: hidden;
//   width: 0;
//   height: 0;
// }

.paginationjs-pages {
  ul {
    display: flex;
    padding: 0px;
  }

  a {
    padding: 0px;
    line-height: 40px;
    text-decoration: none;
  }
}
.paginationjs .paginationjs-pages li {
  padding: 0px;
  display: block;
  list-style: none;
  border-radius: 50%;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  font: $font-h3;
  color: $color-ds50;
  cursor: pointer;
}

.paginationjs-page.J-paginationjs-page.active {
  background: rgb(139, 164, 249);
  background: linear-gradient(
    0deg,
    rgba(139, 164, 249, 1) 0%,
    rgba(188, 156, 255, 1) 100%
  );
  color: white;
}

.paginationjs-next.J-paginationjs-next {
  position: relative;
  background: rgb(102, 210, 234);
  background: linear-gradient(
    0deg,
    rgba(102, 210, 234, 1) 0%,
    rgba(111, 207, 151, 1) 100%
  );

  a {
    color: transparent;

    &::after {
      content: "";
      top: 0px;
      left: 0px;
      width: 18px;
      height: 18px;
      background: no-repeat
        url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='white'/%3E%3C/svg%3E%0A");
      display: block;
      position: absolute;
      top: 11px;
      left: 11px;
    }
  }
}
