@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
summary {
  font: 12px "Conv_Montserrat-Bold";
  text-transform: uppercase;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  width: 266px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

/*summary:before{  
  top: .4em;
  right: .3em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTYuNTkgOC41OUwxMiAxMy4xNyA3LjQxIDguNTkgNiAxMGw2IDYgNi02eiIvPjxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;  
  content: "";
  position: absolute;
  transition: transform .5s;
}*/
summary::after {
  content: "";
  top: 2px;
  right: 17px;
  width: 6px;
  height: 6px;
  position: absolute;
  border-left: 2px solid rgba(31, 32, 65, 0.5);
  border-bottom: 2px solid rgba(31, 32, 65, 0.5);
  transform: rotate(-45deg);
}

details[open] > summary:after {
  transform-origin: 40% 70%;
  transform: rotate(135deg);
}

summary ~ * {
  padding: 0px 0px 0px 1px;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.expandable-chckbox-list__container {
  width: 222px;
  height: 171px;
  display: flex;
  flex-direction: column;
  font: 14px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.5);
}

.expandable-chckbox-list__box {
  display: flex;
  flex-direction: row;
  margin-bottom: 9px;
}

.expandable-chckbox-list__label {
  margin: auto 0;
  margin-left: 10px;
}

.expandable-chckbox-list__input {
  appearance: none;
}

input[type=checkbox] {
  --active: #275EFE;
  --active-inner: red;
  --focus: 2px rgba(39, 94, 254, .3);
  --border: #BBC1E1;
  --border-hover: #275EFE;
  --background: #fff;
  --disabled: #F6F8FF;
  --disabled-inner: #E1E6F9;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  background: url(svg/Rectangle.svg);
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}

input[type=checkbox]:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  opacity: var(--o, 0);
  width: 5px;
  height: 7px;
  border: 2px solid transparent;
  border-image: linear-gradient(0deg, #8ba4f9 0%, #bc9cff 100%);
  border-image-slice: 1;
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  transform: rotate(var(--r, 20deg));
}

input[type=checkbox]:checked {
  --bc: var(--active);
  --d-o: .3s;
  --d-t: .6s;
  --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  --o: 1;
  --r: 43deg;
  background: url(svg/Rectangle2.svg);
}

input[type=checkbox] + label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}