@use "../../../scss/variables";

.guest-dropdown_rooms-block {
  // Стиль контейнера для дропдауна
  width: 266px;
  height: 65px;
  display: flex;
  flex-direction: column;
}

.guest-dropdown_rooms.iqdropdown {
  width: 266px;
}

.guest-dropdown_rooms__title {
  @extend %font-label;
  margin-bottom: 5px;
}

.guest-dropdown_rooms.iqdropdown >.iqdropdown-selection {
  @extend %font-body;
}

.guest-dropdown_rooms.iqdropdown-menu {
  width: 266px;
  height: 119px;

  .iqdropdown-menu-option {
    width: 266px;
  }
}

.guest-dropdown_rooms.iqdropdown-menu
  > .iqdropdown-menu-option
  > .iqdropdown-content
  > .iqdropdown-item,
.guest-dropdown_rooms.iqdropdown-menu
  > .iqdropdown-menu-option
  > .iqdropdown-item-controls
  > .counter {
  @extend %font-label;
}

.guest-dropdown_rooms.iqdropdown-menu
  > .iqdropdown-menu-option
  > .iqdropdown-item-controls
  > .counter{
    line-height: 37px;
  }
