@import 'datepicker.min.css';
@import '../../scss/variables.scss';
.wrap{
  position: relative;
  display: inline-block;
}

.datepicker-here{
  cursor: pointer;
}
.datepicker-here{
  
}


.datepicker-here{
  width: 150px;
  height: 44px;
  border-radius: 5px;
	margin-top: 5px;
  @extend %font-body;
  padding-left: 15px;
  background: url(expand_more.svg) no-repeat 140px 20px;
}

.datepicker-here.second{
  width: 266px;
  height: 44px;
  background-position: 257px 20px;
}