.rate-button__starhref {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
  stroke: url(#gradient);
  fill: none;
  text-align: center;
}
.rate-button__star-source {
  width: 0;
  height: 0;
  visibility: hidden;
}

.rate-button__rate-stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.rate-button__input {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

.rate-button__label.rate-button-room-card__label:hover ~ .rate-button__label.rate-button-room-card__label .rate-button__starhref.rate-button-room-card__starhref,
svg.rate-button__starhref.rate-button-room-card__starhref:hover,
input[class="rate-button__input rate-button-room-card__input"]:focus
  ~ .rate-button__label.rate-button-room-card__label
  .rate-button__starhref.rate-button-room-card__starhref,
input[class="rate-button__input rate-button-room-card__input"]:checked
  ~ .rate-button__label.rate-button-room-card__label
  .rate-button__starhref.rate-button-room-card__starhref {
  fill: url(#gradient);
}

.rate-button__label.rate-button-room-card840__label:hover ~ .rate-button__label.rate-button-room-card840__label .rate-button__starhref.rate-button-room-card840__starhref,
svg.rate-button__starhref.rate-button-room-card840__starhref:hover,
input[class="rate-button__input rate-button-room-card840__input"]:focus
  ~ .rate-button__label.rate-button-room-card840__label
  svg.rate-button__starhref.rate-button-room-card840__starhref,
input[class="rate-button__input rate-button-room-card840__input"]:checked
  ~ .rate-button__label.rate-button-room-card840__label
  svg.rate-button__starhref.rate-button-room-card840__starhref {
  fill: url(#gradient);
}
.fillgrad{
  fill: url(#gradient);
}


