body {
  background: #F4F2F3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.star {
  width: 17px;
  height: 16px;
  stroke-width: 1px;
  stroke: black;
  fill: none;
  text-align: center;
}

.star-source {
  visibility: hidden;
}

.star-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

input[name=star] {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

label:hover ~ label .star,
svg.star:hover,
input[name=star]:focus ~ label .star,
input[name=star]:checked ~ label .star {
  fill: red;
}