doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1") 
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(type="module" src="assets/js/sign-in-page.js")
    link(href=require("./sign-in-page.scss") rel="stylesheet")
  body
    include ../../ui-kit/ui-forms/ui-kit-inc.pug
    +header({className:'header',userName:''})
    .sign-in-page 
      +login-card({className:'login-card',title:'Войти'})
    +footer({className:'footer'})