doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1") 
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="../../../blocks/textfield/textfield_masked/jquery.inputmask.js")
    script(src="../../../blocks/textfield/textfield_masked/textfield_masked.js")
    script(type="module" src="../../ui-kit/ui-forms/ui-kit.js")
    link(href="sign-in-page.css" rel="stylesheet")
  body
    include ../../ui-kit/ui-forms/ui-kit-inc.pug
    +header('header','')
    .sign-in-page 
      +login-card('login-card','Войти')
    +footer('footer')