@import "../../ui-kit/ui-forms/ui-forms.scss";
@import "../../../blocks/findroom-card/findroom-card.scss";
@import "../../../blocks/account-registration/account-registration.scss";
@import "../../../blocks/login-card/login-card.scss";
@import "../../../blocks/booking-room-card/booking-room-card.scss";
@import "../../../blocks/room-card/room-card.scss";
@import "../../../blocks/room-card/splide.min.css";
@import "../../../blocks/header/header.scss";
@import "../../../blocks/header/--logined-user/logined-user.scss";
@import "../../../blocks/footer/footer.scss";
@import "../../../blocks/footer-creative/footer-creative.scss";

.search-room-page{
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin:0px auto 70px;
}

.search-room-page__container-filter {
  height: 100%;
  width: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px ;
  gap: 30px;
  margin-right: 60px;
}

.search-room-page__button-hiding-filter{
  display: none;
}

@media (max-width:878px) {
  .search-room-page__container-filter{
    position: fixed;
    padding: 100px 0 0 20px;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
  }

  .search-room-page__container-filter._active{
    left: 0;
  }

  .search-room-page__button-hiding-filter{
    display: block;
    z-index: 5;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: $color-purple;
    transition: left 0.3s ease 0s;

    &::after {
      content: "";
      left: 3px;
      bottom: 6px;
      position: absolute;
      height: 50%;
      width: 50%;
      transition: all 0.3s ease 0s;
      border-top: 2px solid white;
      border-right: 2px solid white;
    }

    &::after{
      transform: rotate(45deg);
    }

    &._active{
      left:320px;
    }
  }

  

  .search-room-page__container-only-rooms{
    justify-content: center;
  }

}

.search-room-page__container {
  display: flex;
  flex-direction: column;
  width: auto;
}

.search-room-page__container-rooms {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.search-room-page__container-only-rooms{
  max-width: 834px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  gap: 12px;
}

.search-room-page__container-rooms-label{
  margin: 30px 0px 20px 0px;
  font:$font-widget-title;
}

.pagination{
  align-self: center;
}

.guest-dropdown-block,
.guest-dropdown__title,
.guest-dropdown.iqdropdown,
.textfield__input.textfield--date-dropdown__input.search-room__data-of-arrival__input,
.search-room__data-of-arrival__label,
.search-room__data-of-arrival {
  width: 260px;
}

.textfield__input.textfield--date-dropdown__input.search-room__data-of-arrival__input{
  background-position-x: 230px;
}

.guest-dropdown-block{
  margin-bottom: 0px;
}

.search-room-page__container-range-slider{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-room-page__range-slider-label{
  font:$font-h3;
  color:$color-ds50;
}