doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")    
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="../../../blocks/textfield/textfield_masked/jquery.inputmask.js")
    script(src="../../../blocks/textfield/textfield_masked/textfield_masked.js")
    script(type="module" src="../../ui-kit/ui-forms/ui-kit.js")
    script(type="module" src="search-room-page.js")
    script(src="../../../blocks/room-card/splide.js")
    script(src="../../../blocks/room-card/room-card.js")
    script(type="module" src="search-room-page.js")
    link(href="search-room-page.css" rel="stylesheet")
  body
    include ../../ui-kit/ui-forms/ui-kit-inc.pug 
    +header('header','')
    .search-room-page
      .search-room-page__container-filter
        //+textlabel('textfield textfield_date-dropdown search-room__data-of-arrival','Дата пребывания в отеле','ДД.ММ.ГГГГ')(readonly)
        +textfield({className:'textfield textfield_filter-date-dropdown',title:'Dropdown',placeholder:''})(readonly,data-multiple-dates-separator=" - ",data-range="true")
        //+textlabel('textfield textfield_filter-date-dropdown search-room__data-of-arrival','Дата пребывания в отеле','ДД.ММ.ГГГГ')(readonly,data-multiple-dates-separator=" - ",data-range="true")
        +guest-dropdown({className:'guest-dropdown',title:'Гости',menuItems:['Взрослые','Дети','Младенцы'],hide:'0'})
        .search-room-page__container-range-slider
          +range-slider('range-slider','Диапазон цены')
          label.search-room-page__range-slider-label Стоимость за сутки пребывания в номере
        +expandable-checkbox-list('expandable-checkbox-list expandable-checkbox-list_checkbox-buttons','Правила дома',
        ['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)'])(open)
        +expandable-checkbox-list('expandable-checkbox-list expandable-checkbox-list--rich-checkbox-buttons','Доступность',
        {'Широкий коридор':'Ширина коридоров в номере не менее 91см','Помощник для инвалидов':'На 1 этаже вас встретит специалист  и проводит до номера.'})(open)
        +guest-dropdown({className:'guest-dropdown guest-dropdown_rooms',title:'Удобства номера',menuItems:['Спальни','Кровати','Ванные комнаты'],hide:'1'})
        +expandable-checkbox-list('expandable-checkbox-list','Дополнительные удобства',['Завтрак','Письменный стол','Столик для кормления', 'Кроватка', 'Телевизор', 'Шампунь'])        
      .search-room-page__container
        .search-room-page__container-guest-dropdown_rooms
          label.search-room-page__container-guest-dropdown_rooms-label Номера, которые мы для вас подобрали
          .search-room-page__container-only-guest-dropdown_rooms
            +room-card('room-card',['../../../blocks/room-card/img/888/888-1.png','../../../blocks/room-card/img/888/888-2.png','../../../blocks/room-card/img/888/888-3.png','../../../blocks/room-card/img/888/888-4.png'],'888','Люкс','9990','145','5')  
            +room-card('room-card room-card840',['../../../blocks/room-card/img/840/840-1.png','../../../blocks/room-card/img/840/840-2.png','../../../blocks/room-card/img/840/840-3.png','../../../blocks/room-card/img/840/840-4.png'],'840','','9990','65','4')
            +room-card('room-card room-card980',['../../../blocks/room-card/img/980/980-1.png','../../../blocks/room-card/img/980/980-2.png','../../../blocks/room-card/img/980/980-3.png','../../../blocks/room-card/img/980/980-4.png'],'980','','8500','35','3')
            +room-card('room-card room-card856',['../../../blocks/room-card/img/856/856-1.png','../../../blocks/room-card/img/856/856-2.png','../../../blocks/room-card/img/856/856-3.png','../../../blocks/room-card/img/856/856-4.png'],'856','','7300','19','5')
            +room-card('room-card room-card740',['../../../blocks/room-card/img/740/740-1.png','../../../blocks/room-card/img/740/740-2.png','../../../blocks/room-card/img/740/740-3.png','../../../blocks/room-card/img/740/740-4.png'],'740','','6000','44','4')
            +room-card('room-card room-card982',['../../../blocks/room-card/img/982/982-1.png','../../../blocks/room-card/img/982/982-2.png','../../../blocks/room-card/img/982/982-3.png','../../../blocks/room-card/img/982/982-4.png'],'982','','5800','56','3')
            +room-card('room-card room-card678',['../../../blocks/room-card/img/678/678-1.png','../../../blocks/room-card/img/678/678-2.png','../../../blocks/room-card/img/678/678-3.png','../../../blocks/room-card/img/678/678-4.png'],'678','','5500','45','5')
            +room-card('room-card room-card450',['../../../blocks/room-card/img/450/450-1.png','../../../blocks/room-card/img/450/450-2.png','../../../blocks/room-card/img/450/450-3.png','../../../blocks/room-card/img/450/450-4.png'],'450','','5300','39','4')
            +room-card('room-card room-card350',['../../../blocks/room-card/img/350/350-1.png','../../../blocks/room-card/img/350/350-2.png','../../../blocks/room-card/img/350/350-3.png','../../../blocks/room-card/img/350/350-4.png'],'350','','5000','77','3')
            +room-card('room-card room-card666',['../../../blocks/room-card/img/666/666-1.png','../../../blocks/room-card/img/666/666-2.png','../../../blocks/room-card/img/666/666-3.png','../../../blocks/room-card/img/666/666-4.png'],'666','','5000','25','5')
            +room-card('room-card room-card444',['../../../blocks/room-card/img/444/444-1.png','../../../blocks/room-card/img/444/444-2.png','../../../blocks/room-card/img/444/444-3.png','../../../blocks/room-card/img/444/444-4.png'],'444','','5000','15','3')
            +room-card('room-card room-card352',['../../../blocks/room-card/img/352/352-1.png','../../../blocks/room-card/img/352/352-2.png','../../../blocks/room-card/img/352/352-3.png','../../../blocks/room-card/img/352/352-4.png'],'352','','8500','55','3')
        +pagination('pagination')
    +footer('footer','')