doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")    
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(type="module" src="assets/js/search-room-page.js")
    link(href=require("./search-room-page.scss") rel="stylesheet")
  body
    include ../../ui-kit/ui-forms/ui-kit-inc.pug 
    +header({className:'header',userName:''})
    .search-room-page
      .search-room-page__filter
        +guest-dropdown({className:'guest-dropdown',title:'Гости',menuItems:['Взрослые','Дети','Младенцы'],hide:'0'})
        .search-room-page__range-slider
          +range-slider({className:'range-slider',title:'Диапазон цены'})
          label.search-room-page__range-slider-title Стоимость за сутки пребывания в номере
        +expandable-checkbox-list({className:'expandable-checkbox-list expandable-checkbox-list_checkbox-buttons',title:'Правила дома',
        listItems:['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)']})(open)
        +expandable-checkbox-list({className:'expandable-checkbox-list expandable-checkbox-list_rich-checkbox-list',title:'Доступность',
        listItems:{'Широкий коридор':'Ширина коридоров в номере не менее 91см','Помощник для инвалидов':'На 1 этаже вас встретит специалист  и проводит до номера.'}})(open)
        +guest-dropdown({className:'guest-dropdown guest-dropdown_rooms',title:'Удобства номера',menuItems:['Спальни','Кровати','Ванные комнаты'],hide:'1'})
        +expandable-checkbox-list({className:'expandable-checkbox-list',title:'Дополнительные удобства',listItems:['Завтрак','Письменный стол','Столик для кормления', 'Кроватка', 'Телевизор', 'Шампунь']})        
      .search-room-page__room-cards-pagination
        .search-room-page__room-cards
          label.search-room-page__room-cards-label Номера, которые мы для вас подобрали
          .search-room-page__room-cards-result
            +room-card({className:'room-card',roomNumber:'888',roomType:'Люкс',roomPrice:'9990',reviewsNumber:'145',rating:'5',imagePaths:['../../blocks/room-card/img/888/888-1.png','../../blocks/room-card/img/888/888-2.png','../../blocks/room-card/img/888/888-3.png','../../blocks/room-card/img/888/888-4.png']})  
            +room-card({className:'room-card room-card840',roomNumber:'840',roomType:'',roomPrice:'9990',reviewsNumber:'65',rating:'4',imagePaths:['../../blocks/room-card/img/840/840-1.png','../../blocks/room-card/img/840/840-2.png','../../blocks/room-card/img/840/840-3.png','../../blocks/room-card/img/840/840-4.png']})
            +room-card({className:'room-card room-card980',roomNumber:'980',roomType:'',roomPrice:'8500',reviewsNumber:'35',rating:'3',imagePaths:['../../blocks/room-card/img/980/980-1.png','../../blocks/room-card/img/980/980-2.png','../../blocks/room-card/img/980/980-3.png','../../blocks/room-card/img/980/980-4.png']})
            +room-card({className:'room-card room-card856',roomNumber:'856',roomType:'',roomPrice:'7300',reviewsNumber:'19',rating:'5',imagePaths:['../../blocks/room-card/img/856/856-1.png','../../blocks/room-card/img/856/856-2.png','../../blocks/room-card/img/856/856-3.png','../../blocks/room-card/img/856/856-4.png']})
            +room-card({className:'room-card room-card740',roomNumber:'740',roomType:'',roomPrice:'6000',reviewsNumber:'44',rating:'4',imagePaths:['../../blocks/room-card/img/740/740-1.png','../../blocks/room-card/img/740/740-2.png','../../blocks/room-card/img/740/740-3.png','../../blocks/room-card/img/740/740-4.png']})
            +room-card({className:'room-card room-card982',roomNumber:'982',roomType:'',roomPrice:'5800',reviewsNumber:'56',rating:'3',imagePaths:['../../blocks/room-card/img/982/982-1.png','../../blocks/room-card/img/982/982-2.png','../../blocks/room-card/img/982/982-3.png','../../blocks/room-card/img/982/982-4.png']})
            +room-card({className:'room-card room-card678',roomNumber:'678',roomType:'',roomPrice:'5500',reviewsNumber:'45',rating:'5',imagePaths:['../../blocks/room-card/img/678/678-1.png','../../blocks/room-card/img/678/678-2.png','../../blocks/room-card/img/678/678-3.png','../../blocks/room-card/img/678/678-4.png']})
            +room-card({className:'room-card room-card450',roomNumber:'450',roomType:'',roomPrice:'5300',reviewsNumber:'39',rating:'4',imagePaths:['../../blocks/room-card/img/450/450-1.png','../../blocks/room-card/img/450/450-2.png','../../blocks/room-card/img/450/450-3.png','../../blocks/room-card/img/450/450-4.png']})
            +room-card({className:'room-card room-card350',roomNumber:'350',roomType:'',roomPrice:'5000',reviewsNumber:'77',rating:'3',imagePaths:['../../blocks/room-card/img/350/350-1.png','../../blocks/room-card/img/350/350-2.png','../../blocks/room-card/img/350/350-3.png','../../blocks/room-card/img/350/350-4.png']})
            +room-card({className:'room-card room-card666',roomNumber:'666',roomType:'',roomPrice:'5000',reviewsNumber:'25',rating:'5',imagePaths:['../../blocks/room-card/img/666/666-1.png','../../blocks/room-card/img/666/666-2.png','../../blocks/room-card/img/666/666-3.png','../../blocks/room-card/img/666/666-4.png']})
            +room-card({className:'room-card room-card444',roomNumber:'444',roomType:'',roomPrice:'5000',reviewsNumber:'15',rating:'3',imagePaths:['../../blocks/room-card/img/444/444-1.png','../../blocks/room-card/img/444/444-2.png','../../blocks/room-card/img/444/444-3.png','../../blocks/room-card/img/444/444-4.png']})
            +room-card({className:'room-card room-card352',roomNumber:'352',roomType:'',roomPrice:'8500',reviewsNumber:'55',rating:'3',imagePaths:['../../blocks/room-card/img/352/352-1.png','../../blocks/room-card/img/352/352-2.png','../../blocks/room-card/img/352/352-3.png','../../blocks/room-card/img/352/352-4.png']})
        +pagination({className:'pagination'})
    +footer({className:'footer'})