@use "../../../scss/variables";
@use "../../ui-kit/ui-forms/ui-forms.scss";
@use "../../../blocks/findroom-card/findroom-card.scss";
@use "../../../blocks/account-registration/account-registration.scss";
@use "../../../blocks/login-card/login-card.scss";
@use "../../../blocks/booking-room-card/booking-room-card.scss";
@use "~@splidejs/splide/dist/css/splide.min";
@use "../../../blocks/room-card/room-card.scss";
@use "../../../blocks/header/header.scss";
@use "../../../blocks/header/_logined-user/logined-user.scss";
@use "../../../blocks/footer/footer.scss";
@use "../../../blocks/footer-creative/footer-creative.scss";

.search-room-page{
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin:0px auto 70px;
  gap: 20px;
  padding-left: 30px;
}

.search-room-page__filter {
  height: 100%;
  width: 266px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px ;
  gap: 30px;
}

.search-room-page__button-hiding-filter{
  display: none;
}

@media (max-width:1150px) {
  .search-room-page__room-cards-label{
    text-align: center;
  }

}


@media (max-width:878px) {
  
  .header__menus-buttons{
    width: 100%;
    align-content: center;
  }

  .search-room-page__button-hiding-filter-container{
    position: relative;
    width: 35px;
    height: 35px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 6;
    bottom:120px;

    &._active{
      .search-room-page__button-hiding-filter-container__box:nth-child(2),
      .search-room-page__button-hiding-filter-container__box:nth-child(4),
      .search-room-page__button-hiding-filter-container__box:nth-child(6),
      .search-room-page__button-hiding-filter-container__box:nth-child(8){
        opacity: 0;
      }
    }

  }
  .search-room-page__button-hiding-filter-container__box{
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: black;
    margin: 3px 3px;
  
  }

  .search-room-page__filter{
    position: fixed;
    align-items: center;
    padding: 30vh 0 0 10px;
    margin: 0;
    top: 0;
    left: -100%;
    width: 320px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    overflow: auto;
    z-index: 5;
    transition: all 0.3s ease 0s;

 

  }

  .search-room-page__filter._active{
    left: 0;

    &::before {
      content: "";
      position: fixed;
      width: 320px;
      top: 0;
      left: 0;
      height: 125px;
      background-color: #fff;
      z-index: 5;
}

  }

}


@media (max-width:501px) {

  .search-room-page__button-hiding-filter-container{
    bottom:0;
  }
}
@media (max-width:320px) {
  .search-room-page{
    padding-left: 0px;
  }
  
}

.guest-dropdown-block,
.guest-dropdown__title,
.guest-dropdown.iqdropdown,
.guest-dropdown.iqdropdown-menu,
.guest-dropdown.iqdropdown-menu > .iqdropdown-menu-option,
.textfield__input.textfield_date-dropdown__input.search-room__data-of-arrival__input,
.search-room__data-of-arrival__label,
.search-room__data-of-arrival {
  width: 260px;
}

.textfield__input.textfield_date-dropdown__input.search-room__data-of-arrival__input{
  background-position-x: 230px;
}

.guest-dropdown-block{
  margin-bottom: 0px;
}

.search-room-page__range-slider{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-room-page__range-slider-title{
  font:variables.$font-h3;
  color:variables.$color-ds50;
}

.search-room-page__room-cards-pagination {
  display: flex;
  flex-direction: column;
  width: auto;
}

.search-room-page__room-cards {
  display: flex;
  flex-direction: column;
  align-self: center;
}


.search-room-page__room-cards-label{
  margin: 30px 0px 20px 0px;
  font:variables.$font-widget-title;
}

.search-room-page__room-cards-result{
  max-width: 834px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  gap: 12px;
  justify-content: center;
}


.pagination{
  align-self: center;
}
