@use "../../scss/variables";
.account-registration {
  background-color: white;
  width: 380px;
  height: 646px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.account-registration__title {
  font: variables.$font-widget-title;
  text-align: center;
  margin: 40px 0px 0px;
}

.account-registration__reg-form,
.account-registration__login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.account-registration__radio-buttons,.account-registration__toogle{
  align-self: flex-start;
  margin: 0px 30px 10px;
}

.account-registration__exist-login-form {
  display: flex;
  width: 320px;
  height: 44px;
  justify-content: space-between;
  align-self: center;
  margin-top: 10px;
}

.account-registration__label {
  @extend %font-body;
  line-height: 44px;
}
