@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.account-registration__label {
  font: 14px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.75);
}

.account-registration {
  background-color: white;
  width: 380px;
  height: 646px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.account-registration__title {
  font: 24px "Conv_Montserrat-Bold";
  text-align: center;
  margin: 40px 0px 15px 0px;
}

.account-registration__reg-form,
.account-registration__login-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.account-registration__login-form {
  margin-top: 17px;
}

.textfield {
  align-self: center;
}

.radio-buttons {
  margin: 5px 0px 20px 30px;
}

.radio-buttons__container {
  margin-top: 0px;
}

.textfield_reg-acc__label {
  height: auto;
}

.textfield_reg-acc {
  height: auto;
  margin-bottom: 5px;
}

.expandable-checkbox-list.expandable-checkbox-list__title.expandable-checkbox-list_checkbox-buttons__title.expandable-checkbox-list_toogle__title {
  display: none;
}

.expandable-checkbox-list.expandable-checkbox-list_checkbox-buttons.expandable-checkbox-list_toogle {
  margin: 5px 0px 0px 30px;
}

.expandable-checkbox-list.expandable-checkbox-list__list-item.expandable-checkbox-list_checkbox-buttons__box.expandable-checkbox-list_toogle__box {
  margin-bottom: 0;
}

.button.button_with-arrow.reg-button {
  margin-top: 20px;
  align-self: center;
}

.account-registration__exist-login-form {
  display: flex;
  width: 320px;
  height: 44px;
  justify-content: space-between;
  margin-top: 30px;
  align-self: center;
}

.account-registration__label {
  line-height: 44px;
}