.account-registration {
  width: 380px;
  height: 646px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.account-registration__title {
  font: $font-widget-title;
  text-align: center;
  margin: 40px 0px 20px 0px;
}

.account-registration__reg-form,
.account-registration__login-form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.textfield {
  align-self: center;
}

.radio-buttons {
  margin: 5px 0px 20px 30px;
}

.radio-buttons__container {
  margin-top: 0px;
}

.textfield {
  height: auto;
  margin-bottom: 5px;
}

.expandable-chckbox-list.expandable-chckbox-list__title.expandable-chckbox-list--checkbox-buttons__title.expandable-chckbox-list--toogle__title {
  display: none;
}

.expandable-chckbox-list.expandable-chckbox-list--checkbox-buttons.expandable-chckbox-list--toogle {
  margin: 5px 0px 0px 30px;
}

.expandable-chckbox-list.expandable-chckbox-list__box.expandable-chckbox-list--checkbox-buttons__box.expandable-chckbox-list--toogle__box {
  margin-bottom: 0;
}

.button.button-with-arrow.reg-button {
  margin-top: 20px;
  align-self: center;
}

.account-registration__container {
  display: flex;
  width: 320px;
  height: 44px;
  justify-content: space-between;
  margin-top: 30px;
  align-self: center;
}

.account-registration__label {
  @extend %font-body;
  line-height: 44px;
}
