.footer,
.footer__nav-footer,
.footer__nav-description,
.footer__nav-footer-copyrights {
  display: flex;
}

.footer {
  height: 443px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

}


.footer__nav-description,
.footer {
  flex-direction: column;
}

.footer__nav-subscribe {
  display: flex;
  flex-direction: column;
}

.footer-col{
  width: 20%;
}

.footer__nav-footer {
  align-items: flex-start;
  height: 372px;
  padding: 100px 100px;
  gap: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}

@media (max-width:1100px) {
  .footer__nav-footer{
    flex-wrap: wrap-reverse;
    height: auto;
  }

  .footer__nav-description{
    order: 1;
    flex-basis: 100%;
  }

  .footer__description{
    width: 267px;
  }


}

.bl-nav,
.bl-nav__ul,
.bl-about,
.bl-about__ul,
.bl-service,
.bl-service__ul {
  width: auto;
}

.bl-subscribe,
.bl-subscribe__ul {
  width: 260px;
}

.bl-subscribe,
.bl-subscribe__ul {
  height: auto;
}

.footer__nav-description {
  @extend %font-body;
}

.bl-nav__li,
.bl-about__li,
.bl-service__li,
.bl-subscribe__li {
  list-style-type: none;
}

.bl-nav__ul,
.bl-about__ul,
.bl-service__ul,
.bl-subscribe__ul {
  padding-left: 0;
}

.bl-nav__span,
.bl-about__span,
.bl-service__span,
.bl-subscribe__span {
  position: static;
}

.textfield__input.textfield--subscription__input.textfield--subscription--footer__input,.textfield__label.textfield--subscription__label.textfield--subscription--footer__label,
.textfield.textfield--subscription--footer {
  width: 260px;
}

.textfield__input.textfield--subscription__input.textfield--subscription--footer__input {
  position: relative;
}

.textfield__label.textfield--subscription__label.textfield--subscription--footer__label::after {
  height: 67px;
  top: 7px;
}

.footer__description {
  margin-top: 20px;
}

.footer__copyrights-label {
  @extend %font-body;
}

.footer__nav-footer-copyrights {
  justify-content: space-between;
  margin: auto 140px;
}

.footer__nav-footer-copyrights-icons {
  display: flex;
  gap: 20px;
}
