@use "../../scss/variables";

.footer,
.footer__nav-footer,
.footer__nav-description,
.footer__nav-footer-copyrights {
  display: flex;
}

.footer {
  height: 443px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

}


.footer__nav-description,
.footer {
  flex-direction: column;
}

.footer__nav-subscribe {
  display: flex;
  flex-direction: column;
}

.footer-col{
  width: 20%;
}

.footer__nav-footer {
  align-items: flex-start;
  height: 372px;
  padding: 100px 140px;
  gap: 20px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.25);
  border-top: 1px solid rgba(31, 32, 65, 0.25);
}


.footer__nav-footer-copyrights {
  justify-content: space-between;
  padding: 26px 140px;
}

@media (max-width:1100px) {
  .footer{
    height: auto;
  }
  .footer__nav-footer{
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
    gap: 40px 20px;
  }

  .footer__nav-footer > * { 
    flex: 0 0 260px;
  }

  .footer__description{
    width: 267px;
  }

  
}

@media (max-width:425px) {
  .footer__nav-footer{
    padding: 50px 20px;
  }

  .footer__nav-footer-copyrights{
    padding: 26px 28px;
  }

}

.footer__nav-subscribe-title{
  @extend %font-label;
  margin: 2px 0px 23px;
}

.footer__nav-subscribe-description{
  margin-bottom: 20px;
}

.footer__nav-description,.footer__nav-subscribe-description {
  @extend %font-body;
}

.footer__description {
  margin-top: 20px;
}

.footer__copyrights-label {
  @extend %font-body;
}


.footer__nav-footer-copyrights-icons {
  display: flex;
  gap: 20px;
}
