doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(type="module" src="assets/js/uiforms.js")
    link(href=require("./ui-forms.scss") rel="stylesheet")
  body
    include ui-kit-inc.pug
    .main
      +textfield({className:'textfield',title:'Text field',placeholder:'Email'})
      +guest-dropdown({className:'guest-dropdown',title:'Dropdown',menuItems:['Взрослые','Дети','Младенцы'],hide:'0'})
      +textfield({className:'textfield textfield_masked',title:'Text field',placeholder:'ДД.ММ.ГГГГ'})
      +guest-dropdown({className:'guest-dropdown guest-dropdown_rooms',title:'Dropdown',menuItems:['Спальни','Кровати','Ванные комнаты'],hide:'1'})
      .date-dropdown
        +textfield({className:'textfield textfield_date-dropdown date1',title:'Dropdown',placeholder:'ДД.ММ.ГГГГ'})(readonly)
        +textfield({className:'textfield textfield_date-dropdown date2',title:'Dropdown',placeholder:'ДД.ММ.ГГГГ'})(readonly)
      +textfield({className:'textfield textfield_filter-date-dropdown',title:'Dropdown',placeholder:''})(readonly)
      +expandable-checkbox-list({className:'expandable-checkbox-list',title:'Expandable CheckBox List',listItems:['Завтрак','Письменный стол','Столик для кормления', 'Кроватка', 'Телевизор', 'Шампунь']})
      +textfield({className:'textfield textfield_subscription',title:'Text field',placeholder:'Email'})
      +expandable-checkbox-list({className:'expandable-checkbox-list expandable-checkbox-list_checkbox-buttons',title:'CheckBox Buttons',listItems:['Можно курить','Можно с питомцами','Можно пригласить гостей (до 10 человек)']})(open)
      +expandable-checkbox-list({className:'expandable-checkbox-list expandable-checkbox-list_rich-checkbox-list',title:'Rich CheckBox List',listItems:{'Широкий коридор':'Ширина коридоров в номере не менее 91см','Помощник для инвалидов':'На 1 этаже вас встретит специалист  и проводит до номера.'}})(open)
      +radio-buttons({className:'radio-buttons',title:'Radio buttons',radioButtonsTitles:['Мужчины','Женщины']})
      +expandable-checkbox-list({className:'expandable-checkbox-list expandable-checkbox-list_checkbox-buttons expandable-checkbox-list_toogle',title:'Toogle',listItems:['Получать спецпредложения']})(open)
      +like-button({className:'like-button',count:'12'})
      +rate-button({className:'rate-button',checked:'3'})
      +range-slider({className:'range-slider',title:'range slider'})
      +button({className:'button',title:'Click me',size:'long'})
      +button({className:'button button_without-fill',title:'Click me', size:'small'})
      +button({className:'button button_hypertext',title:'Click me'})
      +button({className:'button button_with-arrow',title:'Перейти к оплате'})
      +pagination({className:'pagination'})
      +bullet-list({className:'bullet-list',title:'Bullet list',listItems:['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия - после 13:00, а выезд до 12:00']})
      +icon-text-list({className:'icon-text-list',listItems:{'Комфорт':'Шумопоглащающие стены','Удобство':'Окно в каждой спальне'},imagePaths:['../../blocks/icon-text-list/svg/insert_emoticon.svg','../../blocks/icon-text-list/svg/location_city.svg']})
      +review({className:'review',imagePath:'../../blocks/review/img/image.png',name:'Мурад Сарафанов',publicationDate:'5 дней назад',textReview:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',count:'15'})
      +graph-reviews({className:'graph-reviews',count:'260'})