@use "../../../scss/variables";
@use "../../../blocks/guest-dropdown/item-quantity-dropdown.min.css";
@use "../../../blocks/guest-dropdown/guest-dropdown.scss";
@use "../../../blocks/textfield/textfield.scss";
@use "../../../blocks/textfield/textfield_masked/textfield_masked.scss";
@use "../../../blocks/guest-dropdown/_rooms/guest-dropdown_rooms.scss";
@use "~air-datepicker/air-datepicker";
@use "../../../blocks/textfield/textfield_date-dropdown/textfield_date-dropdown.scss";
@use "../../../blocks/textfield/textfield_filter-date-dropdown/_filter-date-dropdown.scss";
@use "../../../blocks/expandable-checkbox-list/expandable-checkbox-list.scss";
@use "../../../blocks/textfield/textfield_subscription/textfield_subscription.scss";
@use "../../../blocks/expandable-checkbox-list/_checkbox-buttons/_checkbox-buttons.scss";
@use "../../../blocks/expandable-checkbox-list/_rich-checkbox-list/_rich-checkbox-list.scss";
@use "../../../blocks/radio-buttons/radio-buttons.scss";
@use "../../../blocks/expandable-checkbox-list/_toogle/_toogle.scss";
@use "../../../blocks/like-button/like-button.scss";
@use "../../../blocks/rate-button/rate-button.scss";
@use "~nouislider/dist/nouislider";
@use "../../../blocks/range-slider/range-slider.scss";
@use "../../../blocks/button/button.scss";
@use "../../../blocks/button/button_without-fill/button_without-fill.scss";
@use "../../../blocks/button/button_hypertext/button_hypertext.scss";
@use "../../../blocks/button/button_with-arrow/button_with-arrow.scss";
@use "../../../blocks/pagination/pagination.scss";
@use "../../../blocks/bullet-list/bullet-list.scss";
@use "../../../blocks/icon-text-list/icon-text-list.scss";
@use "../../../blocks/review/review.scss";
@use "../../../blocks/graph-reviews/graph-reviews.scss";
.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.date-dropdown{
  display: flex;
}