@charset "UTF-8";
@import "../../../blocks/guest-dropdown/item-quantity-dropdown.min.css";
@import "../../../blocks/textfield/textfield--date-dropdown/datepicker.min.css";
@import "../../../blocks/range-slider/nouislider.css";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../../../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../../fonts/Montserrat-Regular.woff") format("woff"), url("../../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../../../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../../fonts/Montserrat-Bold.woff") format("woff"), url("../../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.review-card__time, .review-card__textarea, .icon-text-list__text, .bullet-list__li, .paginationjs-nav.J-paginationjs-nav, .textfield .textfield--filter-date-dropdown__input, .datepicker-here, .textfield .textfield--date-dropdown__input, .textfield input, .iqdropdown .iqdropdown-selection {
  font: 14px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.75);
}

.review-card__name, .icon-text-list__title {
  font: 14px "Conv_Montserrat-Bold";
  text-transform: uppercase;
}

.bullet-list__title, .button__button, .range-slider__title, .radio-buttons__title, summary, .datepicker--button, .rooms__title, .textfield label, .button-apply,
.button-clear, .iqdropdown-item, .guest-dropdown__title, .iqdropdown .iqdropdown-item-controls .counter {
  font: 12px "Conv_Montserrat-Bold";
  text-transform: uppercase;
}

.guest-dropdown-block {
  width: 320px;
  height: 65px;
  display: flex;
  flex-direction: column;
}

.iqdropdown {
  width: 320px;
  height: 44px;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.iqdropdown .iqdropdown-menu {
  width: 320px;
  height: 160px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -8px -1px -1px;
}
.iqdropdown .iqdropdown-item-controls {
  align-items: center;
}
.iqdropdown .iqdropdown-item-controls .counter {
  width: 30px;
  height: 37px;
  text-align: center;
  vertical-align: middle;
  padding: 0 5px;
  line-height: 37px;
  border-bottom: 0px;
  border-top: 0px;
}
.iqdropdown .iqdropdown-item-controls button.button-decrement,
.iqdropdown .iqdropdown-item-controls button.button-increment {
  border: 1px solid #1f2041;
  opacity: 0.25;
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 50%;
}
.iqdropdown .iqdropdown-item-controls button.button-decrement {
  opacity: 0.1;
}
.iqdropdown .iqdropdown-menu-option {
  width: 320px;
  height: 35px;
  padding: 0 8px;
  margin-bottom: 3px;
}
.iqdropdown .icon-decrement::after,
.iqdropdown .icon-decrement.icon-increment::before {
  background-color: #1f2041;
  width: 7px;
  height: 1px;
  top: 7px;
  left: 4px;
}

.guest-dropdown__title {
  margin-bottom: 5px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0px 15px 0px 15px;
}

.button-apply,
.button-clear {
  color: rgba(31, 32, 65, 0.25);
}

.button-clear {
  visibility: hidden;
}

.textfield {
  width: 320px;
  height: 67px;
  display: flex;
  flex-direction: column;
}
.textfield input {
  width: 320px;
  height: 44px;
  border-radius: 5px;
  opacity: 0.25;
  margin-top: 5px;
}
.textfield input:hover,
.textfield input :focus {
  opacity: 0.75;
}
.rooms-block {
  width: 266px;
  height: 65px;
  display: flex;
  flex-direction: column;
}

.rooms.iqdropdown {
  width: 266px;
}

.rooms__title {
  margin-bottom: 5px;
}

.rooms.iqdropdown-menu {
  width: 266px;
  height: 119px;
}
.rooms.iqdropdown-menu .iqdropdown-menu-option {
  width: 266px;
}

.textfield--date-dropdown,
.textfield--date-dropdown__label {
  width: 150px;
}

.textfield .textfield--date-dropdown__input {
  width: 150px;
  height: 44px;
  padding-left: 15px;
  background: url(../../../blocks/textfield/textfield--date-dropdown/svg/expand_more.svg) no-repeat 120px 18px;
  cursor: pointer;
  opacity: 1;
}
.textfield .textfield--date-dropdown__input:hover {
  opacity: 1;
}

.datepicker {
  width: 318px;
  height: 368px;
}

.datepicker-here {
  cursor: pointer;
}

.datepicker-here {
  width: 150px;
  height: 44px;
  border-radius: 5px;
  margin-top: 5px;
  padding-left: 15px;
  background: url(expand_more.svg) no-repeat 140px 20px;
}

.datepicker--nav {
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  border-bottom: 0px;
  font: 19px "Conv_Montserrat-Bold";
}

.datepicker--nav-action {
  width: 24px;
  height: 24px;
}
.datepicker--nav-action svg {
  width: 17px;
  height: 18px;
}
.datepicker--nav-action path {
  margin: 0 auto;
  stroke-width: 0px;
  fill: #9c9c9c;
}

.datepicker-here.second {
  width: 266px;
  height: 44px;
  background-position: 257px 20px;
}

.datepicker--body.active {
  width: 280px;
  height: 240px;
  margin: 0 auto;
}

.datepicker--day-name {
  color: #BC9CFF;
  font: 12px "Conv_Montserrat-Bold";
  text-transform: none;
}

.datepicker--cells {
  justify-content: space-evenly;
}

.datepicker--cell {
  width: 40px;
  height: 40px;
  align-self: stretch;
  font: 12px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.5);
}

.datepicker--buttons {
  border-top: 0px;
}

.datepicker--button {
  justify-content: left;
  padding-left: 20px;
  color: #BC9CFF;
}
.datepicker--button:hover {
  color: #4eb5e6;
  background: white;
}

.datepicker--button.apply {
  justify-content: right;
  padding-left: 0px;
  padding-right: 20px;
}

.datepicker--cell.-selected- {
  background: #8ba4f9;
  background: linear-gradient(0deg, #8ba4f9 0%, #bc9cff 100%);
}

.datepicker--cell.datepicker--cell-day.-selected- {
  border-radius: 50%;
}

.datepicker--cell.-focus-,
.-range-to-,
.datepicker--cell.-selected-.-focus- {
  background: #66d2ea;
  background: linear-gradient(0deg, #66d2ea 0%, #6fcf97 100%);
}

.textfield .textfield--filter-date-dropdown__input {
  width: 266px;
  height: 44px;
  padding-left: 15px;
  background: url(../../../blocks/textfield/textfield--filter-date-dropdown/svg/expand_more.svg) no-repeat 236px 18px;
  cursor: pointer;
  opacity: 1;
}
.textfield .textfield--filter-date-dropdown__input:hover {
  opacity: 1;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-selected-::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  right: 0px;
  background: #8ba4f9;
  background: linear-gradient(0deg, rgba(139, 164, 249, 0.25) 0%, rgba(188, 156, 255, 0.25) 100%);
}

.datepicker--cell.datepicker--cell-day.-range-to-.-selected-::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  left: 0px;
  background: #8ba4f9;
  background: linear-gradient(0deg, rgba(139, 164, 249, 0.25) 0%, rgba(188, 156, 255, 0.25) 100%);
}

.datepicker--cell.datepicker--cell-day.-range-to-::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  left: -1px;
  background: #8ba4f9;
  background: linear-gradient(0deg, rgba(139, 164, 249, 0.25) 0%, rgba(188, 156, 255, 0.25) 100%);
}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to-,
.-focus-,
.-focus-.-in-range- {
  border-radius: 50%;
}

.datepicker--cell.datepicker--cell-day.-range-from-.-focus-.-selected-::after {
  background: transparent;
}

.datepicker--cell.datepicker--cell-day.-in-range- {
  color: #BC9CFF;
  background: #8ba4f9;
  background: linear-gradient(0deg, rgba(139, 164, 249, 0.25) 0%, rgba(188, 156, 255, 0.25) 100%);
}

.datepicker--cell.datepicker--cell-day.-in-range-.-focus-::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  left: 0px;
  background: #8ba4f9;
  background: linear-gradient(0deg, rgba(139, 164, 249, 0.25) 0%, rgba(188, 156, 255, 0.25) 100%);
}
.datepicker--cell.datepicker--cell-day.-in-range-.-focus-::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 40px;
  right: 0px;
  background: #8ba4f9;
  background: linear-gradient(0deg, rgba(139, 164, 249, 0.25) 0%, rgba(188, 156, 255, 0.25) 100%);
}

.expandable-chckbox-list {
  width: 266px;
}

summary {
  width: 266px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
summary::-webkit-details-marker {
  display: none;
}
summary::-moz-list-bullet {
  list-style-type: none;
}
summary::marker {
  display: none;
}
summary::after {
  content: "";
  top: 2px;
  right: 17px;
  width: 6px;
  height: 6px;
  position: absolute;
  border-left: 2px solid rgba(31, 32, 65, 0.5);
  border-bottom: 2px solid rgba(31, 32, 65, 0.5);
  transform: rotate(-45deg);
}

details[open] > summary:after {
  transform-origin: 40% 70%;
  transform: rotate(135deg);
}

summary ~ * {
  padding: 0px 0px 0px 1px;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.expandable-chckbox-list__container {
  width: 280px;
  height: auto;
  display: flex;
  flex-direction: column;
  font: 14px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.5);
}

.expandable-chckbox-list__box {
  display: flex;
  flex-direction: row;
  margin-bottom: 9px;
}

.expandable-chckbox-list__label {
  margin: auto 0;
  margin-left: 10px;
}

.expandable-chckbox-list__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
.expandable-chckbox-list__input:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  opacity: var(--o, 0);
  width: 5px;
  height: 7px;
  border: 2px solid transparent;
  border-image: linear-gradient(0deg, #8ba4f9 0%, #bc9cff 100%);
  border-image-slice: 1;
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  transform: rotate(var(--r, 20deg));
}
.expandable-chckbox-list__input:checked {
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  --o: 1;
  --r: 43deg;
  border: 1px solid #BC9CFF;
  border-radius: 4px;
}

.expandable-chckbox-list__input + .expandable-chckbox-list__label {
  font-size: 14px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.textfield--subscription__label {
  position: relative;
}

.textfield--subscription__label:after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 2px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  background: url(../../../blocks/textfield/textfield--subscription/svg/arrow_forward.svg) no-repeat 12px 12px;
}

.expandable-chckbox-list--checkbox-buttons {
  height: auto;
}

.expandable-chckbox-list--checkbox-buttons__title {
  pointer-events: none;
}

.expandable-chckbox-list--checkbox-buttons__title::after {
  visibility: hidden;
}

.expandable-chckbox-list--checkbox-buttons__label {
  max-width: 190px;
  hyphens: auto;
}

.expandable-chckbox-list--rich-checkbox-buttons__title {
  pointer-events: none;
}
.expandable-chckbox-list--rich-checkbox-buttons__title::after {
  visibility: hidden;
}

.expandable-chckbox-list--rich-checkbox-buttons__label {
  line-height: normal;
  max-width: 230px;
  height: 51px;
  hyphens: auto;
  font: 14px "Conv_Montserrat-Bold";
  color: rgba(31, 32, 65, 0.75);
}

.expandable-chckbox-list--rich-checkbox-buttons__p {
  font: 12px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.5);
  margin: 0;
}

.radio-buttons__container {
  display: flex;
  width: 220px;
  height: 55px;
  margin-top: 16px;
}

.radio-buttons__box {
  margin-right: 20px;
  display: flex;
}

.radio-buttons__btitle {
  font: 14px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.5);
  margin-left: 10px;
}

.radio-buttons__button {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IHg9IjAuNSIgeT0iMC41IiB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHJ4PSI5LjUiIGZpbGw9IndoaXRlIiBzdHJva2U9IiNCQzlDRkYiLz4NCjwvc3ZnPg0K") no-repeat;
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
}
.radio-buttons__button:after {
  content: "";
  display: block;
  left: 0px;
  top: 0px;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  opacity: var(--o, 0);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8ba4f9;
  background: linear-gradient(0deg, #8ba4f9 0%, #bc9cff 100%);
  transform: scale(var(--s, 0.7));
}
.radio-buttons__button:checked {
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  --o: 1;
  --r: 43deg;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxyZWN0IHg9IjAuNSIgeT0iMC41IiB3aWR0aD0iMTkiIGhlaWdodD0iMTkiIHJ4PSI5LjUiIGZpbGw9IndoaXRlIiBzdHJva2U9IiNCQzlDRkYiLz4NCjwvc3ZnPg0K") no-repeat;
}

.radio-buttons__button:checked + .radio-buttons__btitle {
  color: rgba(31, 32, 65, 0.75);
}

.expandable-chckbox-list--toogle__input {
  width: 40px;
  border-radius: 10px;
}
.expandable-chckbox-list--toogle__input:after {
  opacity: 1;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: var(--bcg, rgba(31, 32, 65, 0.25));
  border: none;
  left: 3px;
  transform: translateX(var(--x, 0));
}
.expandable-chckbox-list--toogle__input:checked {
  --x: 17px;
  border-radius: 10px;
  --bcg: #bc9cff;
}

.expandable-chckbox-list--toogle__label {
  color: rgba(31, 32, 65, 0.75);
}

.like-button {
  width: 40px;
  height: 20px;
}

.like-button__button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  color: var(--cc, rgba(31, 32, 65, 0.25));
}

.like-button__svg {
  stroke-width: 1px;
  stroke: var(--sc, rgba(31, 32, 65, 0.25));
  fill: var(--fc, none);
}

.like-button__button.active {
  --cc: #bc9cff;
  --fc: #bc9cff;
  --sc: #bc9cff;
  border-color: #bc9cff;
}

.rate-button__starhref {
  width: 20px;
  height: 20px;
  stroke-width: 1px;
  stroke: url(#rate-button__gradient);
  fill: none;
  text-align: center;
}

.rate-button__star-source {
  width: 0;
  height: 0;
  visibility: hidden;
}

.rate-button__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.rate-button__input {
  display: inline-block;
  width: 0;
  opacity: 0;
  margin-left: -2px;
}

.rate-button__label:hover ~ .rate-button__label .rate-button__starhref,
svg.rate-button__starhref:hover,
input[class=rate-button__input]:focus ~ .rate-button__label .rate-button__starhref,
input[class=rate-button__input]:checked ~ .rate-button__label .rate-button__starhref {
  fill: url(#rate-button__gradient);
}

.range-slider__range::before {
  content: "";
}

.noUi-target {
  width: 266px;
}

.noUi-horizontal {
  height: 6px;
}

.noUi-horizontal .noUi-handle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid white;
  background: #66d2ea;
  background: linear-gradient(0deg, #66d2ea 0%, #6fcf97 100%);
  box-shadow: none;
  right: -7px;
}

.noUi-handle:before,
.noUi-handle:after {
  visibility: hidden;
  width: 0;
  height: 0;
}

.noUi-connect {
  background: #66d2ea;
  background: linear-gradient(0deg, #66d2ea 0%, #6fcf97 100%);
  left: 5px;
}

.range-slider__box {
  display: flex;
  justify-content: space-between;
}

.range-slider {
  display: flex;
  flex-direction: column;
  width: 266px;
  height: 47px;
}

.range-slider__range {
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
  font: 12px "Conv_Montserrat-Regular";
  margin-bottom: 20px;
}

.button__button {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  background: #8ba4f9;
  background: linear-gradient(0deg, #8ba4f9 0%, #bc9cff 100%);
  color: white;
  border: none;
  cursor: pointer;
}
.button__button:active {
  background: linear-gradient(0deg, rgba(139, 164, 249, 0.5) 0%, rgba(188, 156, 255, 0.5) 100%);
}

.button-without-fill__button {
  background: transparent;
  color: #BC9CFF;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" ><defs><linearGradient id="Gradient" x1="49.5" x2="49.5" y1="0" y2="44" gradientUnits="userSpaceOnUse"><stop stop-color="%23BC9CFF" offset="0"/><stop stop-color="%238BA4F9" offset="1"/></linearGradient></defs><rect x="0" y="0" width="100%" height="100%" style="height:calc(100%);width:calc(100%)" rx="22" ry="22" stroke-width="4" fill="transparent" stroke="url(%23Gradient)"/></svg>');
}
.button-without-fill__button:active {
  background: transparent;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" ><defs><linearGradient id="Gradient" x1="49.5" x2="49.5" y1="0" y2="44" gradientUnits="userSpaceOnUse"><stop stop-color="%23BC9CFF" offset="0"/><stop stop-color="%238BA4F9" offset="1"/></linearGradient></defs><rect opacity="0.5" x="0" y="0" width="100%" height="100%" style="height:calc(100%);width:calc(100%)" rx="22" ry="22" stroke-width="4" fill="transparent" stroke="url(%23Gradient)"/></svg>');
}

.button-hypertext__button {
  background: transparent;
  color: #BC9CFF;
  width: auto;
  height: 15px;
  border-radius: 0px;
  padding: 0px;
}
.button-hypertext__button:active {
  background: transparent;
  color: rgba(31, 32, 65, 0.5);
}

.button-with-arrow__button {
  width: 320px;
  position: relative;
}
.button-with-arrow__button::after {
  content: "";
  width: 18px;
  height: 18px;
  background: no-repeat url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='white'/%3E%3C/svg%3E%0A");
  display: block;
  position: absolute;
  left: 290px;
  top: 14px;
}

.pagination {
  max-width: 450px;
}

.pagination__data {
  visibility: hidden;
  width: 0;
  height: 0;
}

.paginationjs-pages ul {
  display: flex;
  padding: 0px;
}
.paginationjs-pages a {
  padding: 0px;
  line-height: 40px;
  text-decoration: none;
}

.paginationjs .paginationjs-pages li {
  padding: 0px;
  display: block;
  list-style: none;
  border-radius: 50%;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  font: 12px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

.paginationjs-page.J-paginationjs-page.active {
  background: #8ba4f9;
  background: linear-gradient(0deg, #8ba4f9 0%, #bc9cff 100%);
  color: white;
}

.paginationjs-next.J-paginationjs-next {
  position: relative;
  background: #66d2ea;
  background: linear-gradient(0deg, #66d2ea 0%, #6fcf97 100%);
}
.paginationjs-next.J-paginationjs-next a {
  color: transparent;
}
.paginationjs-next.J-paginationjs-next a::after {
  content: "";
  top: 0px;
  left: 0px;
  width: 18px;
  height: 18px;
  background: no-repeat url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='white'/%3E%3C/svg%3E%0A");
  display: block;
  position: absolute;
  top: 11px;
  left: 11px;
}

.paginationjs-nav.J-paginationjs-nav {
  text-align: center;
}

.bullet-list {
  width: 300px;
  height: 150px;
}

.bullet-list__ul {
  padding-inline-start: 25px;
}

.bullet-list__li {
  margin-bottom: 13px;
}
.bullet-list__li::marker {
  color: rgba(31, 32, 65, 0.5);
  line-height: 0px;
  font-size: 30px;
  letter-spacing: 1px;
}

.bullet-list__span {
  position: relative;
  right: 8px;
  bottom: 3px;
}

.icon-text-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icon-text-list__box {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  justify-content: center;
  gap: 5px;
}

.icon-text-list__container {
  display: flex;
  width: 291px;
  height: 80px;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.icon-text-list__img {
  width: 40px;
  height: 68px;
}

.review-card__container {
  display: flex;
}

.review-card__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.review-card__textarea {
  width: 653px;
  height: auto;
}

.like-button {
  text-align: center;
}

.review-card__imagebox, .review-card__likebox {
  width: 50px;
  height: 50px;
}

.graph-reviews {
  position: relative;
  width: 350px;
  height: 170px;
}

.graph-reviews__box {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70px;
  height: 50px;
  margin-top: -92px;
  margin-bottom: 100px;
  margin-left: 47px;
}

.graph-reviews__count {
  margin-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font: 24px "Conv_Montserrat-Bold";
  color: #BC9CFF;
  text-align: center;
}

.graph-reviews__voices {
  font: 14px "Conv_Montserrat-Bold";
  color: #BC9CFF;
  text-align: center;
}

.findroom-card {
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.findroom-card,
.findroom-card__form {
  width: 380px;
  height: 374px;
}

.findroom-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findroom-card__container {
  display: flex;
  align-self: stretch;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.findroom-card__title {
  font: 24px "Conv_Montserrat-Bold";
  text-align: center;
  margin: 40px 0px 20px 0px;
}

.guest-dropdown-block {
  justify-self: center;
  margin-bottom: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}