doctype html
html(lang="ru")
  head
    script(src="inputmask.js")
    script(src="textfield--masked.js")
  body
    input(class="textfield textfield--masked__input" type="text" placeholder="ДД.ММ.ГГГГ")
