doctype html
html  
  head
    link(rel="stylesheet",type="text/css",href="../../scss/dist/ui-colors-fonts.css") 
  body
    .container-with-colors
      .colorrow
        .colorrectds100
        p Dark Shade 100%
        p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--ds75
        p Dark Shade 100%
        p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--ds50
        p Dark Shade 100%
        p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--ds25
        p Dark Shade 100%
        p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--ds5
        p Dark Shade 100%
        p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--purple
        p Dark Shade 100%
        p #BC9CFF
      .colorrow
        .colorrectds100.colorrectds100--green
        p Dark Shade 100%
        p #6FCF97
    .container-with-fonts 
      .fonth1 
      .fonth1.fonth1--fonth2 
      .fonth1.fonth1--fonth3 
      .fonth1.fonth1--fontbody 



