doctype html
html  
  head
    link(rel="stylesheet",type="text/css",href="scss/dist/ui-colors-fonts.css") 
  body
    .container-with-colors
      .colorrectds100
      .colorrectds100.colorrectds100--ds75
      .colorrectds100.colorrectds100--ds50
      .colorrectds100.colorrectds100--ds25
      .colorrectds100.colorrectds100--ds5
      .colorrectds100.colorrectds100--purple
      .colorrectds100.colorrectds100--green
    .container-with-fonts 
      .fonth1 
      .fonth1.fonth1--fonth2 
      .fonth1.fonth1--fonth3 
      .fonth1.fonth1--fontbody 



