doctype html
html  
  head
    link(rel="stylesheet",type="text/css",href="../scss/ui-colors-fonts.css") 
  body
    img(src="../favoicon/logo.svg", alt="Logo")
    .container-with-colors
      .colorrow
        .colorrectds100
        .textlabel
          p Dark Shade 100%
          p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--ds75
        .textlabel
          p Dark Shade 100%
          p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--ds50
        .textlabel
          p Dark Shade 100%
          p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--ds25
        .textlabel
          p Dark Shade 100%
          p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--ds5
        .textlabel
          p Dark Shade 100%
          p #1F2041
      .colorrow
        .colorrectds100.colorrectds100--purple
        .textlabel
          p Dark Shade 100%
          p #BC9CFF
      .colorrow
        .colorrectds100.colorrectds100--green
        .textlabel
          p Dark Shade 100%
          p #6FCF97
    .container-with-fonts 
      .fonth1
        .text-for-fonts
          h1 H1
        .text-for-fonts
          h1 This one is the sub-section or widget title  
      .fonth1.fonth1--fonth2
        .text-for-fonts
          h2 H2
        .text-for-fonts 
          h2 Next one is the item title inside widgets 
      .fonth1.fonth1--fonth3
        .text-for-fonts
          h3 H3
        .text-for-fonts 
          h3 This is a label or CTA text 
      .fonth1.fonth1--fontbody
        .text-for-fonts
          p Body
        .text-for-fonts 
          p This is the body text which is used for most of the design, like paragraphs, lists, etc. 



