.expandable-checkbox-list_rich-checkbox-list__title {
  pointer-events: none;

  &::after {
    visibility: hidden;
  }
}

.expandable-checkbox-list_rich-checkbox-list__label {
  line-height: normal;
  max-width: 230px;
  height: 51px;
  hyphens: auto;
  font: $font-checkbox-label;
  color: $color-ds75;
}

.expandable-checkbox-list_rich-checkbox-list__p {
  font: $font-h3;
  color: $color-ds50;
  margin: 0;
}
