doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(type="module" src="assets/js/footerheader.js")
    link(href=require("./footer-header.scss") rel="stylesheet")
  body
    include ../ui-forms/ui-kit-inc.pug
    +header({className:'header',userName:''})
    +header({className:'header header_logined-user',userName:'Юлий Цезарь'})
    +footer({className:'footer'})
    //- +footer-creative('footer-creative')