doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="../../../blocks/textfield/textfield--masked/jquery.inputmask.js")
    script(src="../../../blocks/textfield/textfield--masked/textfield--masked.js")
    script(type="module" src="../ui-forms/ui-kit.js")
    script(src="../../../blocks/room-card/splide.js")
    script(src="../../../blocks/room-card/room-card.js")
    link(href="footer-header.css" rel="stylesheet")
  body
    include ../ui-forms/ui-kit-inc.pug
    +header('header','')
  //  +header('header header--logined-user','Юлий Цезарь')
   // +footer('footer')
   // +footer-creative('footer-creative')