@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.textlabel__title {
  font: 12px "Conv_Montserrat-Bold";
  text-transform: uppercase;
}

.textlabel {
  width: 320px;
  height: 67px;
  display: flex;
  flex-direction: column;
}

.textlabel__input {
  width: 320px;
  height: 44px;
  border-radius: 5px;
  opacity: 0.25;
  margin-top: 5px;
}
.textlabel__input:focus, .textlabel__input :hover {
  opacity: 0.75;
}