link(rel="stylesheet",type="text/css",href="textfield.css")
mixin textlabel(title,placeholder)
	.textlabel
		label.textlabel__title(for="textlabel__input")=title
			input.textlabel__input(type="text",placeholder="placeholder")
+textlabel('title','placeholder')