doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(type="module" src="assets/js/landing-page.js")
    link(href=require("./landing-page.scss") rel="stylesheet")
  body
    include ../../ui-kit/ui-forms/ui-kit-inc.pug
    +header({className:'header',userName:''})
    .landing-page
      +findroom-card({className:'findroom-card',title:'Найдём номера под ваши пожелания'})
      label.landing-page__slogan-label Лучшие номера для вашей работы, отдыха и просто вдохновения
    +footer({className:'footer'})