@use "../../ui-kit/ui-forms/ui-forms.scss";
@use "../../../blocks/findroom-card/findroom-card.scss";
@use "../../../blocks/account-registration/account-registration.scss";
@use "../../../blocks/login-card/login-card.scss";
@use "../../../blocks/booking-room-card/booking-room-card.scss";
@use "../../../blocks/room-card/room-card.scss";
@use "../../../blocks/room-card/splide.min.css";
@use "../../../blocks/header/header.scss";
@use "../../../blocks/header/_logined-user/logined-user.scss";
@use "../../../blocks/footer/footer.scss";
@use "../../../blocks/footer-creative/footer-creative.scss";

.landing-page{
  width: 100%;
  height: 870px;
  background: no-repeat url("img/landing-page-background.png");
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  display: flex;
  flex-direction: column;
}

.findroom-card {
  margin: 70px 0px 0px 140px;
}

.landing-page__slogan-label {
  @extend %font-body;
  width: 297px;
  text-align: right;
  margin: auto 134px 18px auto;
}

@media (max-width: 769px) {
  .findroom-card {
    margin: 70px 0 0 0;
    align-self: center;
    padding-bottom: 30px;
  }

  .findroom-card__booking-time {
    flex-direction: column;
    align-self: flex-start;
    gap: 20px;
    padding-left: 20px;
  }

  .guest-dropdown-block,
  .iqdropdown,
  .iqdropdown-menu,
  .iqdropdown .iqdropdown-menu-option,
  .guest-dropdown.iqdropdown-menu,
  .button.button_with-arrow,
  .button_with-arrow__button {
    width: 280px;
  }

  .button_with-arrow__button::after {
    left: 250px;
  }
}
