@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.iqdropdown .iqdropdown-selection {
  font: 14px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.75);
}

.button-apply, .button-clear, .iqdropdown .iqdropdown-item-controls .counter, .iqdropdown-item {
  font: 12px "Conv_Montserrat-Bold";
  text-transform: uppercase;
}

.iqdropdown {
  width: 320px;
  height: 44px;
  border-radius: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 29px;
  padding: 0px 15px 0px 15px;
}

.iqdropdown .iqdropdown-menu-close {
  width: 30px;
}

.iqdropdown-menu-clear {
  margin-bottom: 15px;
  margin-left: 15px;
}

.iqdropdown .iqdropdown-item-controls .counter {
  width: 45px;
  height: 37px;
  padding: 0px auto;
  text-align: center;
  align-items: center;
}

.button-apply, .button-clear {
  color: rgba(31, 32, 65, 0.25);
}

.button-clear {
  visibility: hidden;
}

.iqdropdown .iqdropdown-item-controls {
  align-items: center;
}

.iqdropdown .iqdropdown-item-controls .counter {
  border-bottom: 0px;
  border-top: 0px;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement, .iqdropdown .iqdropdown-item-controls button.button-increment {
  border: 1px solid #1F2041;
  opacity: 0.25;
  width: 30px;
  height: 30px;
  padding: 0px 0px;
  border-radius: 50%;
}

.iqdropdown .iqdropdown-item-controls button.button-decrement {
  opacity: 0.1;
}

.iqdropdown .iqdropdown-menu {
  width: 320px;
  height: 160px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -8px -1px -1px;
}

.iqdropdown .iqdropdown-menu-option {
  width: 320px;
  height: 35px;
}

.iqdropdown .icon-decrement::after, .iqdropdown .icon-decrement.icon-increment::before {
  background-color: #1F2041;
  width: 7px;
  height: 1px;
  top: 7px;
  left: 4px;
}