head                                                              
  script(type="text/javascript" src="jquery.js")
  link(href="item-quantity-dropdown.min.js",rel="stylesheet")
body 
  script(type="text/javascript" src="item-quantity-dropdown.min.js")

