doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")    
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(type="module" src="assets/js/registration-page.js")
    link(href=require("./registration-page.scss") rel="stylesheet")
  body
    include ../../ui-kit/ui-forms/ui-kit-inc.pug
    +header({className:'header',userName:''})
    .registration-page 
      +account-registration({className:'account-registration',title:'Регистрация аккаунта'}) 
    +footer({className:'footer'})