@import "../../ui-kit/ui-forms/ui-forms.scss";
@import "../../../blocks/findroom-card/findroom-card.scss";
@import "../../../blocks/account-registration/account-registration.scss";
@import "../../../blocks/login-card/login-card.scss";
@import "../../../blocks/booking-room-card/booking-room-card.scss";
@import "../../../blocks/room-card/room-card.scss";
@import "../../../blocks/room-card/splide.min.css";
@import "../../../blocks/header/header.scss";
@import "../../../blocks/header/--logined-user/logined-user.scss";
@import "../../../blocks/footer/footer.scss";
@import "../../../blocks/footer-creative/footer-creative.scss";

.registration-page {
  background: no-repeat url("img/registration-page-background.png");
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  height: 753px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 425px) {
  .account-registration {
    width: 90%;
    max-width: 380px;
    height: auto;
    padding-bottom: 20px;
  }


  .acc-reg-textfield,
  .textfield--masked,
  .button.button-with-arrow.reg-button,
  .account-registration__container,.expandable-checkbox-list_toogle {
    width: 90%;
  }

  .acc-reg-textfield__label,
  .textfield__input.acc-reg-textfield__input,
  .textfield--masked__label,
  .textfield__input.textfield--masked__input,
  .reg-button__button {
    width: 100%;
  }
  .account-registration__label{
    line-height: normal;
  }

  .expandable-checkbox-list.expandable-checkbox-list_checkbox-buttons.expandable-checkbox-list_toogle,
  .expandable-checkbox-list_toogle__container,.expandable-checkbox-list_toogle__box{
    margin: 0;
    max-width: 280px;
  }

  .expandable-checkbox-list_toogle{
    padding: 10px 0 0 5%;
  }
}
