@use "../../ui-kit/ui-forms/ui-forms.scss";
@use "../../../blocks/findroom-card/findroom-card.scss";
@use "../../../blocks/account-registration/account-registration.scss";
@use "../../../blocks/header/header.scss";
@use "../../../blocks/header/_logined-user/logined-user.scss";
@use "../../../blocks/footer/footer.scss";
@use "../../../blocks/footer-creative/footer-creative.scss";

.registration-page {
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  height: 753px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: changeBackgroundImage infinite ease-out 30s;
}

@keyframes changeBackgroundImage {
  0%,30%,100%  {background-image: url("img/image-1.png");}
  60%,90% {background-image: url("img/image-2.png");}
}

@media (max-width: 425px) {
  .account-registration {
    width: 90%;
    max-width: 380px;
    height: auto;
    padding-bottom: 20px;
  }


  .textfield_reg-acc,
  .textfield_masked,
  .button.button_with-arrow.reg-button{
    width: 90%;
  }

  .textfield_reg-acc__label,
  .textfield__input.textfield_reg-acc__input,
  .textfield_masked__label,
  .textfield__input.textfield_masked__input,
  .reg-button__button {
    width: 100%;
  }

  .account-registration__exist-login-form{
    width: 90%;
  }

  .account-registration__label{
    line-height: normal;
  }

  .account-registration__toogle{
    margin: 0;
  }

  .expandable-checkbox-list.expandable-checkbox-list_checkbox-buttons.expandable-checkbox-list_toogle,
  .expandable-checkbox-list_toogle__container,.expandable-checkbox-list_toogle__box{
    margin: 0;
    max-width: 280px;
  }

  .expandable-checkbox-list_toogle{
    padding: 10px 0 0 5%;
  }
}
