doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(type="module" src="assets/js/room-details-page.js")
    link(href=require("./room-details-page.scss") rel="stylesheet")
  body
    include ../../ui-kit/ui-forms/ui-kit-inc.pug
    +header({className:'header',userName:''})
    .room-details-page
      .room-details-page__room-images
        #room-details-page__room-images__splide
          .splide__track
            ul(class='splide__list')
              li(class='splide__slide')
                img(src=require('img/image1.png'))
              li(class='splide__slide')
                img(src=require('img/image2.png'))
              li(class='splide__slide')
                img(src=require('img/image3.png'))
      .room-details-page__room-details-booking
        .room-details-page__room-details
          .room-details-page__room-tips-impressions
            .room-details-page__room-tips
              label(class='icon-text-list__tips-label') Сведения о номере
              +icon-text-list({className:'icon-text-list',listItems:{'Комфорт':'Шумопоглащающие стены','Удобство':'Окно в каждой спальне','Уют':'Номер оснащен камином'},imagePaths:['../../blocks/icon-text-list/svg/insert_emoticon.svg','../../blocks/icon-text-list/svg/location_city.svg','../../blocks/icon-text-list/svg/whatshot.svg']})
            +graph-reviews({className:'graph-reviews',count:'260'})
          .room-details-page__reviews
            .room-details-page__reviews-labels
              label(class='room-details-page__reviews__label') Отзывы посетителей номера
              label(class='room-details-page__reviews__number-of-reviews-label') 2 отзыва
            +review({className:'review review_murad-safranov',imagePath:'../../blocks/review/img/image.png',name:'Мурад Сарафанов',publicationDate:'5 дней назад',textReview:'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',count:'34'})
            +review({className:'review review_patricia-steklushkova',imagePath:'../../blocks/review/img/image4.png',name:'Патрисия Стёклышкова',publicationDate:'неделю назад',textReview:'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент.',count:'20'})
          .room-details-page__rules
            +bullet-list({className:'bullet-list',title:'Правила',listItems:['Нельзя с питомцами','Без вечеринок и мероприятий','Время прибытия - после 13:00, а выезд до 12:00']})
            .room-details-page__rules-cancel
              label(class='bullet-list__title room-details-page__rules__cancel-label') Отмена
              label(class='room-details-page__reviews-part__cancel-label2') Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-details-page__room-booking
          +booking-room-card({className:'booking-room-card',roomNumber:'888',roomType:'Люкс',dayPrice:'9990'})
    +footer({className:'footer'})