@use '../../../scss/variables';

.expandable-checkbox-list_toogle__title{
  display: none;
}

.expandable-checkbox-list_toogle__list{
  width: fit-content;
}

.expandable-checkbox-list_toogle__list-item{
  margin-bottom: 0px;
}

.expandable-checkbox-list_toogle__input {
  width: 40px;
  border-radius: 10px;

  &:after {
    opacity: 1;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background: var(--bcg, variables.$color-ds25);
    border: none;
    left: 3px;
    transform: translateX(var(--x, 0));
  }

  &:checked {
    --x: 17px;
    border-radius: 10px;
    --bcg: #bc9cff;
  }

}

.expandable-checkbox-list_toogle__label{
  color:variables.$color-ds75;
  width: fit-content;
  max-width: none;
}