@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.box {
  position: relative;
  width: 311px;
  height: 170px;
}

.inner {
  margin-top: -70px;
  margin-bottom: 100px;
  margin-left: 50px;
}

.sp1 {
  margin-bottom: 5px;
  margin-top: 0;
}

.sp2 {
  font-size: 12px;
}