@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.box {
  position: relative;
  width: 350px;
  height: 170px;
}

.inner {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70px;
  height: 50px;
  margin-top: -92px;
  margin-bottom: 100px;
  margin-left: 42px;
}

.sp1 {
  margin-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font: 24px "Conv_Montserrat-Bold";
  color: #BC9CFF;
  text-align: center;
}

.sp2 {
  font: 14px "Conv_Montserrat-Bold";
  color: #BC9CFF;
  text-align: center;
}