doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    script(src="chart.min.js")
    link(href="graph-reviews.css" rel="stylesheet")
  body
    .box
      canvas(id="myChart",width="100",height="100")
      .inner
        span(class="sp1") 240
        span(class="sp2") голосов
    script.
      Chart.defaults.font.family = 'Conv_Montserrat-Regular,Conv_Montserrat-Bold,Tahoma, Arial, sans-serif';
      const ctx = document.getElementById('myChart').getContext('2d');
      var gradient1 = ctx.createLinearGradient(20,0, 20,250);
      var gradient2 = ctx.createLinearGradient(20,200,0,100);
      var gradient3 = ctx.createLinearGradient(20,0,0,30);
      var gradient4 = ctx.createLinearGradient(100,0, 100,150);
      gradient1.addColorStop(0,'#FFE39C');
      gradient1.addColorStop(1,'#FFBA9C');
      gradient2.addColorStop(0,'#6FCF97');
      gradient2.addColorStop(1,'#66D2EA');
      gradient3.addColorStop(0,'#BC9CFF');
      gradient3.addColorStop(1,'#8BA4F9');
      gradient4.addColorStop(0,'#909090');
      gradient4.addColorStop(1,'#3D4975');
      const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: [
            'Великолепно',
            'Хорошо',
            'Удовлетворительно',
            'Разочарован'
          ],
          datasets: [{
            label: 'My First Dataset',
            data: [130, 65, 65, 0],
            backgroundColor: [
              gradient1,
              gradient3,
              gradient2,
              gradient4
            ]
            }]
            },
            options:{
              cutout:'90%',
              radius:60,
              maintainAspectRatio: false,
              rotation:180,
              plugins:{
                legend:{
                  display:true,
                  position:'right',
                  align: 'end',
                  labels:{
                    boxHeight:10,
                    boxWidth:10,
                    usePointStyle: true,
                    pointStyle:'circle',
                    font:{
                      size: 14
                      }
                  }
                },
                title:{
                  display:true,
                  position:'top',
                  text:'Впечатления от номера',
                  font:{
                    size: 19,
                    family:'Conv_Montserrat-Bold'
                  },
                  padding:{
                    bottom: 15
                  }
                }

              }
            }
            })