@import '../../scss/variables.scss';

.box{
  position: relative;
  width: 350px;
  height: 170px;
}

.inner{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 70px;
  height: 50px;
  margin-top: -92px;
  margin-bottom: 100px;
  margin-left: 47px;
}
.sp1{
  margin-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font: $font-widget-title;
  color:$color-purple;
  text-align: center;
}

.sp2{
  font:$font-checkbox-label;
  color:$color-purple;
  text-align: center;
}