@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.header_logined-user-reg-button,
.header_logined-user-login-button {
  display: none;
}

.header_logined-user__user {
  width: auto;
  height: 30px;
  font: 14px "Conv_Montserrat-Regular";
  color: rgba(31, 32, 65, 0.5);
  line-height: 30px;
  padding-left: 20px;
  border-left: 1px solid rgba(31, 32, 65, 0.1);
}