.room-card {
  width: 270px;
  height: 257px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.splide__arrow svg {
  fill: white;
}

.splide__arrow {
  background: transparent;
  opacity: 1;
}

.splide__pagination {
  left: auto;
}

.splide__pagination__page {
  opacity: 1;
  background: transparent;
  border: solid 1px white;
}

.splide__pagination__page.is-active {
  transform: none;
}

.splide__slide {
  border-radius: 4px;
}