@import '../../../scss/variables.scss';
%rect{
  width: 70px;
  height: 70px;
  border-radius: 6px;
	margin-right: 20px;
}
body{
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 1440px;
  height: 900px;
}
img{
  width: 48px;
  height: 48px;
  position: absolute;
  top: 30px;
  left: 30px;
}
.colorrow{
	display: flex;
	flex-wrap: row wrap;
	width: 280px;
  height: 80px;
}
.textlabel{
  height: 80px;
  display: flex;
  flex-direction: column;

  & p{
    font-family: 'Conv_Montserrat-Regular';
    margin-top: 5px;
    margin-bottom: 9px;
    font-size: $font-size;
    
  }

  & p:first-child{
    font-weight: bold;
  }
}
.container-with-colors{
  margin-top: 145px;
  margin-left: 150px;
  width: 280px;
  height: 610px;
}
.container-with-fonts{
  margin-top: 145px; 
}
.colorrectds100{
	@extend %rect;
  background-color: $color-ds100;
}
.colorrectds100--ds75{
  @extend %rect;
  background-color: $color-ds75;
}
.colorrectds100--ds50{
	@extend %rect;
  background-color: $color-ds50;
}
.colorrectds100--ds25{
	@extend %rect;
  background-color: $color-ds25;
}
.colorrectds100--ds5{
	@extend %rect;
  background-color: $color-ds5;
}
.colorrectds100--purple{
	@extend %rect;
  background-color: $color-purple;
}
.colorrectds100--green{
	@extend %rect;
  background-color: $color-green;
}
.fonth1{
  display: flex;
  flex-wrap: wrap;
}
.text-for-fonts:first-child{
  width: 55px;
  height: 60px;
  text-align: right;
  margin-right: 30px;

  & h1{
    @extend %font-h1;
  }
  & h2{
    @extend %font-h2;
  }

  & h3{
    @extend %font-h3;
  }

  & p{
    @extend %font-body2;
  }
}

.text-for-fonts {

  & h1{
  font: $font-widget-title;
}
  & h2{
    font:$font-inside-title;
  }

  & h3{
    @extend %font-label;
  }

  & p{
    @extend %font-body;
  }
}

