@use '../../../scss/variables';

.button_hypertext__button {
  background: transparent;
  color: variables.$color-purple;
  width: auto;
  height: 15px;
  border-radius: 0px;
  padding: 0px;

  &:active {
    background: transparent;
    color: variables.$color-ds50;
  }
}
