@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.text-for-fonts:first-child h1 {
  font: 24px "Conv_Montserrat-Bold";
  opacity: 0.25;
}

.colorrectds100--green, .colorrectds100--purple, .colorrectds100--ds5, .colorrectds100--ds25, .colorrectds100--ds50, .colorrectds100--ds75, .colorrectds100 {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 20px;
}

body {
  background-color: white;
  display: flex;
  justify-content: space-around;
  width: 1440px;
  height: 900px;
}

.colorrow {
  display: flex;
  flex-wrap: row wrap;
  width: 280px;
  height: 80px;
}

.textlabel {
  height: 80px;
  display: flex;
  flex-direction: column;
}
.textlabel p {
  font-family: "Conv_Montserrat-Regular";
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 19px;
}
.textlabel p:first-child {
  font-weight: bold;
}

.container-with-colors {
  width: 280px;
  height: 610px;
}

.colorrectds100 {
  background-color: #1F2041;
}

.colorrectds100--ds75 {
  background-color: rgba(31, 32, 65, 0.75);
}

.colorrectds100--ds50 {
  background-color: rgba(31, 32, 65, 0.5);
}

.colorrectds100--ds25 {
  background-color: rgba(31, 32, 65, 0.25);
}

.colorrectds100--ds5 {
  background-color: rgba(31, 32, 65, 0.05);
}

.colorrectds100--purple {
  background-color: #BC9CFF;
}

.colorrectds100--green {
  background-color: #6FCF97;
}

.fonth1 {
  display: flex;
  flex-wrap: wrap;
}

.text-for-fonts:first-child {
  width: 55px;
  height: 60px;
  text-align: right;
  margin-right: 30px;
}
.text-for-fonts h1 {
  font: 24px "Conv_Montserrat-Bold";
}