@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("./Montserrat-Regular.eot");
  src: local("☺"), url("./Montserrat-Regular.woff") format("woff"), url("./Montserrat-Regular.ttf") format("truetype"), url("./Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.colorrectds100--green, .colorrectds100--purple, .colorrectds100--ds5, .colorrectds100--ds25, .colorrectds100--ds50, .colorrectds100--ds75, .colorrectds100 {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 20px;
}

.body {
  background-color: white;
}

.colorrow {
  display: flex;
  flex-wrap: row wrap;
  width: 280px;
  height: 80px;
}

.textlabel {
  height: 80px;
  display: flex;
  flex-direction: column;
}
.textlabel p {
  font-family: "Conv_Montserrat-Regular";
  margin-top: 5px;
  margin-bottom: 9px;
  font-size: 19px;
}
.textlabel p:first-child {
  font-weight: bold;
}

.container-with-colors {
  width: 280px;
  height: 610px;
}

.colorrectds100 {
  background-color: #1F2041;
}

.colorrectds100--ds75 {
  background-color: rgba(31, 32, 65, 0.75);
}

.colorrectds100--ds50 {
  background-color: rgba(31, 32, 65, 0.5);
}

.colorrectds100--ds25 {
  background-color: rgba(31, 32, 65, 0.25);
}

.colorrectds100--ds5 {
  background-color: rgba(31, 32, 65, 0.05);
}

.colorrectds100--purple {
  background-color: #BC9CFF;
}

.colorrectds100--green {
  background-color: #6FCF97;
}