@import 'variables';
%rect{
  width: 70px;
  height: 70px;
  border-radius: 6px;
	margin-right: 20px;
}
.body{
  background-color: white;
}
.colorrow{
	display: flex;
	flex-wrap: row wrap;
	width: 280px;
  height: 80px;
}
.textlabel{
  height: 80px;
  display: flex;
  flex-direction: column;

  & p{
    font-family: 'Conv_Montserrat-Regular';
    margin-top: 5px;
    margin-bottom: 9px;
    font-size: $font-size;
    
  }

  & p:first-child{
    font-weight: bold;
  }
}
.container-with-colors{
  width: 280px;
  height: 610px;
}
.colorrectds100{
	@extend %rect;
  background-color: $color-ds100;
}
.colorrectds100--ds75{
  @extend %rect;
  background-color: $color-ds75;
}
.colorrectds100--ds50{
	@extend %rect;
  background-color: $color-ds50;
}
.colorrectds100--ds25{
	@extend %rect;
  background-color: $color-ds25;
}
.colorrectds100--ds5{
	@extend %rect;
  background-color: $color-ds5;
}
.colorrectds100--purple{
	@extend %rect;
  background-color: $color-purple;
}
.colorrectds100--green{
	@extend %rect;
  background-color: $color-green;
}