@import 'variables';
%rect{
    width: 70px;
    height: 70px;
    border: 2px solid;
    border-radius: 6px;
}
.body{
    background-color: white;
}
.container-with-colors{
    width: 280px;
    height: 610px;
}