$color-ds100: #1F2041;
$color-ds75: rgba(31, 32, 65, 0.75);
$color-ds50: rgba(31, 32, 65, 0.5);
$color-ds25: rgba(31, 32, 65, 0.25);
$color-ds5: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;
$font-h1:24px 'Conv_Montserrat-Regular' bold;
$font-h2:19px 'Conv_Montserrat-Regular' bold;
$font-h3: 12px 'Conv_Montserrat-Regular' bold;
$font-size: 19px;
@font-face{
	font-family: 'Conv_Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
