@font-face{
	font-family: 'Conv_Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('☺'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('☺'), url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf') format('truetype'), url('../fonts/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
$color-ds100: #1F2041;
$color-ds75: rgba(31, 32, 65, 0.75);
$color-ds50: rgba(31, 32, 65, 0.5);
$color-ds25: rgba(31, 32, 65, 0.25);
$color-ds5: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;
$font-h1: 24px 'Conv_Montserrat-Regular';
%font-h1{
	font:$font-h1;
	color: $color-ds25;
}
$font-h2: 19px 'Conv_Montserrat-Regular';
%font-h2{
	font: $font-h2;
	color: $color-ds25;
}
$font-h3: 12px 'Conv_Montserrat-Regular';
%font-h3{	
	font:$font-h3;
	color: $color-ds25;
}
$font-body: 14px 'Conv_Montserrat-Regular';
%font-body{
	font: $font-body;
	color: $color-ds75;
}
%font-body2{
	font: $font-body;
	color: $color-ds25;
}
$font-widget-title: 24px 'Conv_Montserrat-Bold';
$font-inside-title:	19px 'Conv_Montserrat-Bold';
$font-checkbox-label:14px 'Conv_Montserrat-Bold';
$font-label: 12px 'Conv_Montserrat-Bold';

%font-title{
	font:$font-checkbox-label;
	text-transform: uppercase;
}

%font-title-19px{
	font:$font-inside-title;
	text-transform: uppercase;
}

%font-label{
	font:$font-label;
	text-transform: uppercase;
}
$font-size: 19px;
