@charset "UTF-8";
@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.findroom-card {
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.findroom-card,
.findroom-card__form {
  max-width: 380px;
  min-height: 374px;
}

.findroom-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.findroom-card__booking-time {
  display: flex;
  align-self: stretch;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.findroom-card__title {
  font: 24px "Conv_Montserrat-Bold";
  text-align: center;
  margin: 40px 0px 20px 0px;
}

.guest-dropdown-block {
  justify-self: center;
  margin-bottom: 30px;
}