mixin findroom-card(fclass, ftitle)
  div(class=fclass)
    form(class=fclass + '__form')
      label(class=fclass + '__title')=ftitle
      div(class=fclass + "__container")
        +textfield({className:'textfield textfield_date-dropdown findroom-card__label-arrival',title:'Прибытие',placeholder:'ДД.ММ.ГГГГ'})(readonly)
        +textfield({className:'textfield textfield_date-dropdown findroom-card__label-exit',title:'Выезд',placeholder:'ДД.ММ.ГГГГ'})(readonly)
      +guest-dropdown({className:'guest-dropdown',title:'Гости',menuItems:['Взрослые','Дети','Младенцы'],hide:'0'})
      +button('button button-with-arrow','Подобрать номер')
