.like-button {
  width: 40px;
  height: 20px;
}
.like-button__button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  color: var(--cc, $color-ds25);
}

.like-button__svg {
  stroke-width: 1px;
  stroke: var(--sc, $color-ds25);
  fill: var(--fc, none);
}

.like-button__button.active {
  --cc: #bc9cff;
  --fc: #bc9cff;
  --sc: #bc9cff;
  border-color: #bc9cff;
}
