.butt{
  width: 40px;
  height: 20px;
  border-radius: 10px;
  color:var(--cc,$color-ds25);
}

.heart{
  stroke-width: 1px;
  stroke: var(--sc,$color-ds25);
  fill:var(--fc,none);
}

.butt.active{
  --cc:#BC9CFF;
  --fc:#BC9CFF;
  --sc:#BC9CFF;
  border-color: #BC9CFF;
}