body._lock {
  overflow: hidden;
}

.header {
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  justify-content: space-around;
}

.header__nav,
.header {
  display: flex;
  height: 70px;
  align-items: center;
}


.header__burger {
  display: none;
}

.header-menu-expandable-services[open],
.header-menu-expandable-agreements[open] {
  position: relative;
}


@media (max-width: 950px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 20px 0;
    gap: 20px;
  }

  .header__nav {
    min-height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 501px) {

  .header svg {
    z-index: 6;
  }

  .header__nav {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    padding: 100px 0 0 20px;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 5;

    &::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 70px;
      background-color: #fff;
    }
  }

  .header__nav._active {
    left: 0;
  }

  .header__burger {
    align-self: center;
    border: none;
    background-color: transparent;
    z-index: 5;
    position: relative;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer;

    &::before,
    &::after,
    span {
      left: 0;
      position: absolute;
      height: 10%;
      width: 100%;
      transition: all 0.3s ease 0s;
      background-color: #000;
    }

    &::before,
    &::after {
      content: "";
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: 50%;
      transform: scale(1) translate(0px, -50%);
    }

    &._active span{
      transform: scale(0) translate(0px, -50%);
    }

    &._active::before{
      top: 50%;
      transform: rotate(-45deg) translate(0px,-50%);
    }

    &._active::after{
      bottom: 50%;
      transform: rotate(45deg) translate(0px,50%);
    }


  }

  .header__nav--auth-buttons {
    flex-direction: column;
    margin-top: 40px;
  }


}

.header__nav {
  gap: 20px;
}

.header__nav--auth-buttons {
  display: flex;
  gap: 20px;
}

.header-menu-item-button__button {
  width: 196px;
  height: 34px;
}

.header-login-button__button {
  width: 87px;
  height: 34px;
  background: transparent;
  color: $color-purple;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" ><defs><linearGradient id="Gradient" x1="49.5" x2="49.5" y1="0" y2="44" gradientUnits="userSpaceOnUse"><stop stop-color="%23BC9CFF" offset="0"/><stop stop-color="%238BA4F9" offset="1"/></linearGradient></defs><rect x="0" y="0" width="100%" height="100%" style="height:calc(100%);width:calc(100%)" rx="17" ry="17" stroke-width="4" fill="transparent" stroke="url(%23Gradient)"/></svg>');

  &:active {
    background: transparent;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" ><defs><linearGradient id="Gradient" x1="49.5" x2="49.5" y1="0" y2="44" gradientUnits="userSpaceOnUse"><stop stop-color="%23BC9CFF" offset="0"/><stop stop-color="%238BA4F9" offset="1"/></linearGradient></defs><rect opacity="0.5" x="0" y="0" width="100%" height="100%" style="height:calc(100%);width:calc(100%)" rx="17" ry="17" stroke-width="4" fill="transparent" stroke="url(%23Gradient)"/></svg>');
  }
}

.header__label-about {
  font: $font-checkbox-label;
}

.header-menu-expandable-services__title,
.header-menu-expandable-agreements__title,
.header__label-jobs,
.header__label-news {
  font: $font-body;
  color: $color-ds50;
  text-transform: none;
  margin-bottom: 0;
}


.header-menu-expandable-services[open] .expandable-chckbox-list.expandable-chckbox-list__container.header-menu-expandable-services__container,
.header-menu-expandable-agreements[open] .header-menu-expandable-agreements__container{
  background-color: white;
  position: absolute;
  left: 10px;
  top: 20px;
  max-width: 200px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 10px 10px;
  z-index: 6;
}

// .expandable-chckbox-list__box,.expandable-chckbox-list{
//   max-width: 280px;
// }


.header-menu-expandable-services,
.header-menu-expandable-agreements {
  align-items: center;
}

.header-menu-expandable-services,
.header-menu-expandable-services__title {
  width: 74px;
}

.header-menu-expandable-services__title::after,
.header-menu-expandable-agreements__title::after {
  top: 4px;
  right: 10px;
}

.header-menu-expandable-agreements,
.header-menu-expandable-agreements__title {
  width: 116px;
}

.header-menu-expandable-services__input,
.header-menu-expandable-agreements__input {
  display: none;
}

.header-menu-expandable-services__label,
.header-menu-expandable-agreements__label {
  margin-left: 0px;
}

.search-room-page__button-hiding-filter-container{
  display: none;
}

.header__menus-buttons{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-self: flex-end;
}
