.bullet-list {
  width: 300px;
  height: auto;
}

.bullet-list__ul {
  padding-inline-start: 25px;
  margin: 22px 0 0 0;
}

.bullet-list__li {
  @extend %font-body;
  margin-top: 13px;

  &::marker {
    color: $color-ds50;
    line-height: 0px;
    font-size: 30px;
    letter-spacing: 1px;
  }
}

.bullet-list__span {
  position: relative;
  right: 8px;
  bottom: 3px;
}
.bullet-list__title {
  @extend %font-label;
}
